{% extends "base.html" %}

{% block container %}

    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <table class="table-striped table-condensed">
        <thead><tr><th>From</th><th>To</th><th>Price</th><th>Updated</th></tr></thead>
        <tbody data-bind="foreach: userCurrencies">
        <tr>
            <td data-bind="html: base"></td>
            <td data-bind="html: target"></td>
            <td data-bind="html: price"></td>
            <td data-bind="html: updated"></td>
        </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-6">
        {% csrf_token %}
        <h1>Add new currency rate</h1>

        <label>
            Base:
            <input name="base" id="id_base" data-bind="value: newBase">
        </label>

        <label>
            Target:
            <input name="base" id="id_base" data-bind="value: newTarget">
        </label>

        <button data-bind="click: appendCurrencyPair">
            Add
        </button>
    </div>
    </div>

    <script>
    $(document).ready(function(){
        var CurrencyView = function(){
            var self = this;

            self.userCurrencies = ko.observableArray([]);

            self.newBase = ko.observable();
            self.newTarget = ko.observable();

            self.getCurrencies = function(){
                $.ajax({
                    url: '{% url "user-currencies" %}',
                    dataType: 'JSON',
                    success: function(rs){
                        console.log(rs)
                        if(rs.error){
                            alert(rs.error);
                        }
                        else {
                            self.userCurrencies.removeAll();
                            rs.data.forEach(function(o){
                                self.userCurrencies.push(o);
                            });
                            self.updateCurrencies();
                            setTimeout(function(){ self.getCurrencies(); }, 10000);
                        }
                    },
                    error: function(){
                        // TODO: handle an exception
                        alert('something went wrong');
                    }
                })
            };

            self.updateCurrencies = function(){
                $.ajax({
                    url: '{% url "update-rate" %}',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                    },
                    success: function(rs){
                        if(rs.error){
                            alert(rs.error);
                        }
                    },
                    error: function(){
                        // TODO: handle an exception
                        alert('something went wrong');
                    }
                })
            };

            self.validateNewCurrencyRate = function(){
                // TODO: validate the base and target currencies:
                //  - on duplicates
                //  - on existing
                return true;
            };

            self.appendCurrencyPair = function(){
                if(!self.validateNewCurrencyRate()){
                    alert('Validation failed!');
                    return;
                }
                $.ajax({
                    url: '{% url "append-currency-pair" %}',
                    data: {
                        csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                        base: self.newBase(),
                        target: self.newTarget()
                    },
                    type: 'POST',
                    dataType: 'JSON',
                    success: function(rs){
                        if(rs.error){
                            alert(rs.error);
                        }
                        else {
                            alert('Currency pair added!');
{#                            self.getCurrencies();#}
                        }
                    }
                })
            }

            self.getCurrencies();
        };

        ko.applyBindings(CurrencyView);
    });
    </script>
{% endblock %}